<div class="jumbotron">
<p>I am a<p>
	<select class="form-control">
  <option value="">Junior H.S.</option>
  <option value="">Senior H.S.</option>
  <option value="">College Freshman</option>
  <option value="">College Sophomore</option>
  <option value="">College Junior</option>
  <option value="">College Senior</option>
</select>
<p><%= link_to "Learn How Now >>", "#", class: "btn btn-success btn-lg" %></p>
</div>